<span class="h6 d-none d-sm-block">PAGO || ABONO</span>
<div class="input-group input-group-sm">
    <select class="form-control form-control-sm text-center" name="pago_abono_forma" id="pago_abono_forma">
        <option value="pa-01">Efectivo</option>
        <option value="pa-02">Punto de Venta</option>
        <option value="pa-03">Transferencia</option>
    </select>
    <input type="number" placeholder="Monto" class="formaPagoMonto form-control form-control-sm text-end separador_mil"
        name="pago_abono_monto" id="pago_abono_monto" min="0">
    <input type="text" placeholder="Nro Operación" class="form-control form-control-sm text-center"
        name="pago_abono_numero_de_operacion">
</div>