{% extends './layout.html' %}

{% block title %}AppsFly | {{ title }}{% endblock %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}


<div class="row p-1">
    <div class="col-7">
        <a href="/ventas/add" class="btn btn-success btn-sm m-1"><i class="fa-solid fa-plus"></i>
            AGREGAR</a>
        <button class="btn btn-light btn-sm m-1 disabled ">Carga masiva</button>
        <button class="btn btn-light btn-sm m-1 disabled ">Reporte</button>
    </div>
    <div class="col-5 text-center ">
        <h4 style="color: rgb(0, 91, 103);">{{title}}</h4>
    </div>
</div>
{% block table %}
<div class="row">
    <table class="table table-striped table-bordered  table-hover">
        <thead>
            <tr class="text-center">
                <th>id</th>
                <th>FECHA</th>
                <th>HORA</th>
                <th>CLIENTE</th>
                <th>PRODUCTO</th>
                <th>CANTIDAD</th>
                <th>PRECIO</th>
                <th>TOTAL</th>
                <th>STATUS</th>
                <th>VENDEDOR</th>

            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr class="table table-bordered m-0 ">
                <td class="text-center p-1 m-0">{{ venta[1] }}</td>
                <td class="text-center p-1 m-0">{{ venta[6] }}</td>
                <td class="text-center p-1  m-0">{{ venta[7] }}</td>
                <td class="p-1  m-0">{{ venta[2] }}</td>
                <td class="text-center p-1  m-0"></td>
                <td class="text-center p-1  m-0">{{ venta[4] }}</td>
                <td class="text-center p-1  m-0">{{ venta[3] }}</td>
                <td class="text-center p-1  m-0">{{ venta[5] }}</td>
                <td class="text-center p-1  m-0">{{ venta[9] }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
<script>
    function confirmarEliminacion(producto) {
        var confirmacion = confirm('Eliminar venta?');
        if (confirmacion) {
            window.location.href = "/productos_y_servicios/delete/" + encodeURIComponent(producto);
        }
    }
</script>
{% endblock %}