<div class="table-responsive">
    <table class="table table-striped table-bordered table-sm table-hover">
        <thead>
            <tr class="text-center">
                <th>NRO</th>
                <th>FEHCA</th>
                <th>HORA</th>
                <th>NRO FOLIO</th>
                <th>CLIENTE</th>
                <th>FORMA PAGO</th>
                <th>MONTO</th>
                <th>VENDEDOR</th>
                <th>ACCIONES</th>
    
            </tr>
        </thead>
        <tbody>
            {% for p_a in pagos_abonos %}
            <tr class="table table-bordered m-0 ">
                <td class="text-center p-1 m-0">{{ p_a[3] }}</td>
                <td class="text-center p-1 m-0">{{ p_a[7] }}</td>
                <td class="text-center p-1 m-0">{{ p_a[8] }}</td>
                <td class="text-center p-1 m-0"><b >f-{{ p_a[12] }}</b></td>
                <td class="p-1 m-0">{{ p_a[11] }}</td>
                <td class="p-1 m-0">{{ p_a[13] }}</td>
                <td class="text-end p-1 mil_000"><b>{{ p_a[2] }}</b></td>
                <td class="p-1 m-0">{{ p_a[10] }}</td>
                <td class="p-1 text-center mb-0">
                    <a href="/ventas/view/{{ p_a[4] }}"><i class="fa-regular fa-eye"></i></a>
                    <a href="/clientes/edit/" hidden><i class="fa-solid fa-pen-to-square"></i></i></a>
                    <a onclick="confirmarEliminar()" hidden><i class="fa-regular fa-trash-can"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>