<div>
    <table>
        <tbody>
            <tr>
                <td>
                    socio_id
                </td>
                <td>
                    0000
                </td>
            </tr>
            <tr>
                <td>
                    email principal
                </td>
                <td>
                    optica@gmail.com
                </td>
            </tr>
            <tr>
                <td>
                    tipo documento
                </td>
                <td>
                    Rut
                </td>
            </tr>
            <tr>
                <td>
                    Nro Documento
                </td>
                <td>
                    256840456
                </td>
            </tr>     
            <tr>
                <td>
                    Nombre 
                </td>
                <td>
                    óptica y cristal limitada
                </td>
            </tr>
            <tr>
                <td>logo_socio</td>
                <td>
                    <img src="" alt="logo_socio">
                </td>                
            </tr>
            <tr>
                <td>
                    Dirección
                </td>
                <td>
                    Huerfanos 713, local 18, stg
                </td>
            </tr> 
            <tr>
                <td>
                    Contacto 1
                </td>
                <td>
                    +56921629730
                </td>
            </tr>    
            <tr>
                <td>
                    Contacto 2
                </td>
                <td>
                    +5697302474
                </td>
            </tr>    
        </tbody>
    </table>
</div>