<img src="" alt="" />

<p>CERTIFICADO DE COMPRA</p>

<span>Datos Cliente</span>
<p>Certica Que el sr.(a):</p>
<p>Rut:</p>
<hr />

<span>Datos Óptica</span>
<p>Nombre de la tienda: </p>
<p>Rut Óptica: </p>
<hr />

<span>Detalle Compra</span>
<p>Fecha: </p>
<p>Cantidad: </p>
<p>total Boleta:</p>
<hr />

<span>Marcar Prestaciones</span>
<br />

<span>Lentes para:</span>
<input type="checkbox"> <span>Lejos</span>
<input type="checkbox"> <span>Cerca</span>
<input type="checkbox"> <span>Bifocal</span>
<input type="checkbox"> <span>Multifocal</span>
<br />


<span>Cristal:</span>
<input type="checkbox"> <span>Organicos</span>
<input type="checkbox"> <span>Policarbonato</span>
<input type="checkbox"> <span>Mineral</span>
<br />

<span>Filtros: </span>
<input type="checkbox"> <span>Antireflejo</span>
<input type="checkbox"> <span>Filtro Azul</span>
<input type="checkbox"> <span>Fotocromaticos</span>
<br />

<hr />
<span>Vendedor: </span>