{% extends './layout.html' %}

{% block title %}AppsFly | {{ title }}{% endblock %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}


<div class="row p-1">
    <div class="col-4 col-md-7">
        <button type="button" class="btn btn-success btn-sm m-1" type="button" data-bs-toggle="modal"
            data-bs-target="#registroGastos">
            <i class="fa-solid fa-plus"></i>
            <span class="d-none d-sm-inline">Agregar</span>
        </button>
        <a type="button" class="btn btn-success btn-sm m-1" href="/gastos/categorias">
            <i class="fa-solid fa-table"></i>
            <span class="d-none d-sm-inline">Categoría</span>
        </a>
    </div>

    <div class="col-8 col-md-5 text-center">
        <h4 class="m-1" style="color: rgb(0, 91, 103);">{{title}}</h4>
    </div>
</div>
<div class="row">
    
    {% include 'gastos/gastos_categoria_table_mes_extends.html' %}
    
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr class="text-center">
                    <th>FECHA</th>
                    <th>NRO</th>
                    <th>CATEGORÍA</th>
                    <th>MOTIVO</th>
                    <th>MONTO</th>
                    <th>USUARIO</th>
                    <th>COMPROB</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for g in gastos %}
                <tr class="table table-bordered m-0 ">
                    <td class="text-center p-1 m-0">{{ g[1] |formatear_fecha }}</td>
                    <td class="text-center p-1 mb-2">g-{{ g[8] }}</td>
                    <td class="p-1 m-0">{{ g[9] }}</td>
                    <td class="p-1  m-0 w-25">{{ g[2] }}</td>
                    <td class="text-end p-1 m-0 mil_000">{{ g[3] }}</td>
                    <td class="p-1 m-0 text-center">{{ g[10] }}</td>
                    <td class="p-1 m-0 ">
                        <a href="/gastos" target="_blank"><img class="img-fluid rounded" src="{{ g[5] }}" style="width: 50px; height: 50px;" alt=""></a>
                    </td>
                    <td class="text-center p-1  mb-0">
                        <a href="/gastos/view/{{ g[0] }}"> ver </a>

                        <a href="/gastos/edit/{{ g[0] }}"><i class="fa-solid fa-pen-to-square"></i></i></a>
                        <a hidden onclick="confirmarEliminar('{{ g[0] }}')"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <hr>
  

</div>
<script>
    function confirmarEliminar(producto) {
        var confirmacion = confirm('Eliminar Gasto?');
        if (confirmacion) {
            window.location.href = "/gastos/delete/" + encodeURIComponent(producto);
        }
    }
</script>

{% include 'gastos/add_gasto.html' %}


{% endblock %}